@import "tailwindcss";

:root {
  --background: #fcf5f4;
  --headers: #c94639;
  --container: #e39a9a69;
  --text: #160706;
}
@theme {
  --color-container: #e39a9a69;
  --color-containerHover: #ff8383;
  --color-header: #c94639;
  --color-text: #160706;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.ingredient-list::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 8px;
  width: 7px;
  border-radius: 5px;
  aspect-ratio: 1/1;
  background-color: var(--headers);
}
html {
  color: var(--text);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--background);
}
